.detailsSection , .details2Section{
    background : rgb(241, 241, 241);
    padding-inline: 2em;
    padding-block: 2em;
    border-radius: 12px;
    box-shadow: 3px 3px 12px rgb(82, 80, 80);
}

.details2Section{
    position:absolute;
    left: 43em;
    top: 17em;
    text-align:center;
    padding-block: 0em;
    
}

.details2Section > *{
    margin-block:auto;
    
}